*{margin:0;
    padding: 0;}
    .navbar{
        display:flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
        padding-bottom: 6px;
        border-bottom: 2px solid black;
       
        }
    .logo{
        width: 20px;
        padding-left: 18px;
        display :flex;
        padding-top: 5px;
        justify-content: center;
        align-items: center;}
    .logo img{
        
        width: 40px;
        border-radius:65px;
        border: 3px solid white;}
    .nav-list{
    width:50%;
    
    display: flex;
    align-items: center;}
    .nav-list li{
        width: 55%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 13px;}
    .nav-list li a{
        color: wheat;
        margin-right: 5px;
        margin-left: 35px;
        list-style-type: none;
        text-decoration: none;
    }
    .nav-list li a:hover{
    text-decoration: none;
    
   }
    .rightNav{
    padding: 0px 23px;
    width: 50%;
    text-align: right;}
    #search{
        padding: 7px;
        font-size: 13px;
        border-radius: 9px;
        border: 9px;}
    .background{
        background: rgba(0, 0,0, 0.7) url('Images/d1.jpg');
        background-size: cover;
        background-blend-mode: darken;}
    .box-main{
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: wheat;
        font-family:'Times New Roman', Times, serif;
        margin: auto;
    max-width: 50%;}
    .firstsection{
    height: 100vh;}
    .firsthalf{
        width: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;}
    .secondhalf{
        width: 30%;
    padding-top: 5px;}
    .secondhalf img{
        width: 200px;
        padding: 9px,3px;
        border-radius: 250px;
        border: 4px solid white;  
        display: block;
        margin:auto;
    margin-left: 30px;}
        .text-big{
        font-size: 35px;
        }
        .text-small{
            font-size: 20px;
        
        }
        .btn{
            padding: 8px,16px;
            margin:7px 0px;
            border:2px solid  rgb(233, 238, 240);
            border-radius: 6px;
            background:none;
            padding: 2px;
            color: white;
           /* color: rgb(36, 92, 109);*/
            
            cursor: pointer;
        }
        .secright{
            height: 350px;
            display:flex;
            align-items:  center;
            justify-content: space-evenly;
            background:rgb(250, 251, 252) ;
            background-size: cover;
            background-blend-mode: darken;
            max-width: 100%;
            margin:auto;
           padding-right:23px;
           padding-left: 23px;
        }
        .paras{
            padding: 0px;
            font-family:'Times New Roman', Times, serif;
            font-size: 17px;
        }
        .faciphote img{
            width: 250px;
            border: 2px solid rgb(7, 7, 7);
            border-radius: 26px;
            margin-top: 19px;
        }
        .contact{padding-top: 90px;
            width: 250px;
            height: 300px;
            margin: auto;
            padding-bottom: 50px;
            
        }
    .btn1{
        padding: 8px,16px;
            margin:7px 0px;
            border:2px solid  rgb(10, 10, 10);
            border-radius: 6px;
            background:none;
            padding: 2px;
            color: rgb(10, 10, 10);
            cursor: pointer;
            margin: auto;
    }
    .contact input{
        padding: 5px 0px;
        margin: 5px 0px;
        width:250px;
    }
    .contact h3{
        text-align: center;
    }
    .testp{
        color: aliceblue;
    }